<html ng-app="myNoteApp">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
<script src="myNoteApp.js"></script>
<script src="myNoteCtrl.js"></script>
<link rel="stylesheet" href="site.css" type="text/css">
<body>

<div class="sec1">
	<img src="profilepic.jpg" style="float: left; width: 170px; padding 0 20px 0 0;">
	<h1>Vanessa Elizabeth Dyce</h1>
	<h2>BS Computer Science</h2>
	<a href="http://www.linkedin.com/in/vanessadyce">
		<img src="linkedin-icon.png" style="width: 40px">
	</a>
</div>
<div ng-controller="myNoteCtrl">

<h2>My Note</h2>

<p><textarea ng-model="message" cols="40" rows="10"></textarea></p>

<p>
<button ng-click="save()">Save</button>
<button ng-click="clear()">Clear</button>
</p>

<p>Number of characters left: <span ng-bind="left()"></span></p>

</div>

<script src="myNoteApp.js"></script>
<script src="myNoteCtrl.js"></script>

</body>
</html>